
html {
    box-sizing: border-box;
}  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    }
    .container {
    max-width: 1140px;
    margin: 0 auto;
    }
    body{
        background-color: #E5E5E5;
        margin: 0 auto;
        font-family: 'Gotham Pro';
        font-style: normal;
}
// start--header
.header{
    position: relative;
    height: 800px;
    background-image:url(../images/bg.svg);
}
.header::before{
    content:url(../images/rightafter.svg);
    position: absolute;
    right: -15%;
}
.header::after{
    content:url(../images/topbf.svg);
    position: absolute;
    top: 330px;
}
.header__inner{
        padding-top: 30px;
        font-family: 'Gotham Pro';
        font-weight: 500;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.header__nav{
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    ul{
        display: flex;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #ffffff; 
        padding-right: 30px;
    }
}
.header__btn{
    z-index: 11;
    button{
    width: 246px;
    height: 44px;
    appearance: none;
    border: 2px solid #FFFFFF;
    background: none;
    font-size: 14px;
    border-radius: 60px;
    a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;  
        }
    }
}
// end--header
// start--header__content
.header__content{
    margin-top: 160px;
}
.header__content-inner{
    display: flex;
    flex-wrap: wrap;
}
.header__content-title{
    h1{
    width: 718px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-bottom: 26px;
    }
}
.header__content-text{
    font-size: 24px;
    width: 654px;
    font-family: 'Gotham Pro';
    color: #FFFFFF;
    margin-bottom: 53px;
}
.header__content-btn{  
    button{
        z-index: 5;
        position: absolute;
        width: 320px;
        height: 54px;
        background: linear-gradient(180deg, #147DFF 0%, #036FF5 100%);
        box-shadow: 0px 20px 30px rgba(3, 111, 245, 0.3);
        border-radius: 30px;
        border: none;
        cursor: pointer;
        a{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-family: 'Gotham Pro';
        }
    }
}
.header__content-right::before{
    content: url(../images/pattern.svg);
    position: absolute;
    right: 277px;
}
.header__content-right::after{
    content: url(../images/header-bot.svg);
    position: absolute;
    bottom: -35px;
    right: 240px;
}
.header__content-right{
    margin-left: 32px;
    form{ 
        z-index: 10;
        position: relative;
        background-color: #FFFFFF;
        width: 390px;
        height: 504px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction:column ;
        align-items: center;
    }
}
.contact-form__title{
    width: 312px;
    font-family: 'Gotham Pro';
    font-size: 24px !important;
    font-weight: bold;
    line-height: 34px;
    color: #373F4F;
    margin: 0 auto;
}
.contact-form__description{
    font-size: 14px !important;
    font-family: 'Gotham Pro';
    color: #7C90B9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.contact-form__input_name{
    margin-bottom: 16px;
}
.contact-form__input{
    width: 280px;
    height: 54px;
    border: 1px solid #D3D9E4;
    box-sizing: border-box;
    border-radius: 30px;
    outline: none;
    margin-right: 27px;
}
input{
        padding: 0 23px;
    }
.contact-form__button{
    width: 280px;
    height: 54px;
    margin-top: 31px;
    background: none;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid #036FF5;
    border-radius: 30px;
    font-family: 'Gotham Pro';
    font-size: 16px;
    font-weight: bold;
    color: #036FF5;
    cursor: pointer;
    
}
.button-form__description{
    width: 329px;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
    color: #4E5465;
    opacity: 0.5;
    cursor: pointer;
}
// end--header__content
// start--services
.services__case{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-right: 30px;
    margin-bottom: 130px;
}
.services__title{
    margin-top: 118px;
    margin-bottom: 70px;
    h2{  
    font-family:'Gotham Pro';
    text-align: center;
    font-size: 50px;
    color: #373F4F;
}
}
.case__card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
    margin-bottom: 30px;
    width: 360px;
    height: 270px;
    background-color: #fff; 
    background: #FFFFFF;
    box-shadow: 0px 10px 24px rgba(11, 118, 251, 0.12);
    border-radius: 5px;
}
.card__text{
    width: 166px;
    font-family: 'Gotham Pro';
    line-height: 37px;
    text-align: center;
    span{
    font-weight: 500;
    font-size: 24px;
    }
}
.card__text-three{
    width: 195px;
}
.card__text-fife{
    span{display: block;}
    width: 231px;
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    height: 50px;
}
.card__text-six{
    width: 271px;
}
.media__slider{
display: none;
}

// end--services
// start--tools
.tools{
    height: 771px;
    background-image: url(../images/toolsImg/bgtools.svg);
    background-repeat: no-repeat;
}
.tools__title{
    h3{ 
    padding-top: 118px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
    font-family: 'Gotham Pro';
    color: #fff;}
}
.tools__title-discription{
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 78px;
}
.tools__card-wrap{
    display: flex;
    flex-wrap: wrap;
}
.tools__card{
    display: flex;
    justify-content: space-between;
    width: 506px;
    height: 150px;
    color: #fff;
    margin-bottom: 73px;
}
.tools__card-right{
    margin-left: 30px;
}
.tools__card-text{
    font-size: 14px;
    line-height: 21px;
    width: 376px;
    height: 150px;
    span{
        display: block;
        font-size: 24px;
        color: #0AAEFA;
        font-weight: 400;
        margin-bottom: 18px;
    }
}
.tools__card-akce{
    margin-right: 80px;
}
.tools__card-gold{
    width: 535px;
    height: 150px;
}
.tools__card-forex{
    width: 410px;
    height: 150px;
}
// end--tools
// star-first-slider
.slider__first{
    height: 800px;
    background-image: url(../images/firstslider/bgSlider.svg);
    background-repeat: no-repeat;
    background-position: top;
}  
.slider__first-title{
    text-align: center;
    color: #373F4F;
    h4{
    font-size: 50px;
    margin-top: 118px;
    margin-bottom: 21px;
}
.slider__title-discription{
    font-size: 18px;
    margin-bottom: 57px;   
}
}
.single__slider{
    width: 1140px;
    height: 500px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius:5px;
}
.slick-initialized .slick-slide{
    display: flex;
}
.slider__content-left{
    padding-left: 30px;
    background-color:  #F3F8FF;
    padding-right: 80px;
    position: relative;
}
.content__left-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.content__left-text{
    font-size: 16px !important;
    color: #373F4F;
    font-family: 'Gotham Pro';
    line-height: 24px;
    margin-bottom: 17px;
}
.result{
    font-size: 14px;
    margin-bottom: 100px;
        a{
        text-decoration: none;
        padding-bottom: 10px;
        color: #0B76FB;
        font-weight: 500;
        border-bottom: 2px solid  #0B76FB ;
    }    
}
.slick-arrow{
    cursor: pointer;
}
.slick-arrow:hover{
    vertical-align: middle;
    color:  #0B76FB;
}
.next{ 
    position: absolute;
    top: 465px;
    left: 380px;
}
.prev{
    left: 320px;
    position: absolute;
    top: 465px;
    z-index: 10;
}
.slick-dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left:136px;
    margin-bottom: 40px !important;
    width: 100px;
    ul{
    background: #878787;
    opacity: 0.3;  
    li{
    background: #818181   
            }
        }
}
.numbering{
    font-size: 16px;
    color: #D9D9D9;
    span{
        font-size: 24px;
        color: #0B76FB;
        font-weight: 500;
        padding-right: 5px;
    }
}
// end-first-slider
/* .expertise--start */
    .expertise{
        height: 796px;
        width: 1920;
        flex-wrap: wrap;
        background-image: url(../images/reviewsimg/Group.jpg);
        margin: 0px;
    }
    .expertise__inner{
        display: flex;  
        
    }
    .expertise__title{
        width: 425px;
        font-size: 18px;
        color: #FFFFFF;  
        margin-bottom: 73px;
        h5{
        font-size: 50px;
        width: 355px; 
        padding-top: 118px;
        margin-top: 0px;
        margin-bottom: 11px;
        }
    }
    .expertise__right-btn{
        position: absolute;
        text-align: center;
        right:150px;
        top: 3800px;
        .video__btn-discription{
            span{
                display: block;
            }
            color: #fff;
            font-size: 18px;
            width: 240px;
            line-height: 30px;
            margin-top: 24px;     
        }
    } 
    /* .expertise--end */
    /* .advantages--start*/
    .advantages{
        background-color: #E5E5E5;
        height: 1250px;
        background-image: url(../images/gradient.svg);
        background-repeat: no-repeat;
    }
    .advantages__inner{
        padding-top: 120px;
    }
    .advantages__wrap{
        display: flex;
        margin: 0px;
        background-image: url(../images/points.svg);
        background-repeat: no-repeat;
    }
    .advantages__wrap-right{
    margin-right: 180px;
    }
    .right__title{
        font-size: 50px;
        line-height: 70px;
        color: #fff;
        width: 199px;
        font-weight: 700;
        margin-bottom: 58px;
    }
    .right__title-discription{
        span{
            display: block;
            width: 251px;
            font-size: 24px;
            line-height: 37px;
            font-weight: 700;
            text-shadow: 0px 10px 24px rgba(0, 38, 86, 0.2);
            border-radius: 5px;
            color: #fff;
            p{
                margin: 0;
            }
        }
    }
    .advantages__wrap-left{
        display: flex;
        justify-content:right;
    }
    .first__column{
        display: flex;
        flex-direction: column;
        margin-top: 130px;
        margin-right: 30px;
    }
    .second__column{
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    .wrap__card{
        width: 360px;
        height: 202px;
        background: #FFFFFF;
        box-shadow: 0px 10px 24px rgba(11, 118, 251, 0.12);
        border-radius: 5px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: bottom right;
        
    }
    .card__title{
        font-size: 18px;
        color: #373F4F;
        font-weight: 500;
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    .wrap-card__text{
        font-size: 14px;
        color: #1d1d1d;
        padding-left: 30px;
        display: flex;
        line-height: 21px;
    }
    .wrap__card-one{
        background-image: url(../images/one.svg);
        .wrap-card__text{
            width: 276px
        }
    }
    .wrap__card-two{
        background-image: url(../images/two.svg);
        .wrap-card__text{
            width:286px;
        }
    }
    .wrap__card-three{
        background-image: url(../images/three.svg);
        .wrap-card__text{
            width: 318px;
            height: 105px;
        }
    }
    .wrap__card-four{
        background-image: url(../images/four.png);
        .wrap-card__text{
            width: 300px;
        }
        
    }
    .wrap__card-five{
        background-image: url(../images/fife.svg);
        .wrap-card__text{
            width: 328px;
        }
    }
.advantages__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
    width: 1140px;
    height: 518px;
    border-radius: 5px;
    background-image: url(../images/formbg.svg);
    color: #FFFFFF;
}
.form__title{
    width: 593px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 71px;
    P{
        margin: 0px;
    }
}
.form__title-discription{
    width: 563px;
    font-size: 18px;
    margin-top: 33px;
    span{
    color: #0AAEFA;
    font-weight: 500;
    }
}
.form__top{
    display: flex;
    justify-content: space-between;
}
.content__form{
    margin-top: 47px;
    background-color: #fff;
    width: 945px;
    height: 189px;
    padding-top: 45px;
    padding-left: 51px;
    border-radius: 5px;
    .input__form{
        width: 280px;
        height: 54px;
        border: 1px solid #D3D9E4;
        box-sizing: border-box;
        border-radius: 30px;
        outline: none;
    }
}
.input__btn{
    width: 280px;
    height: 54px;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #147DFF 0%, #036FF5 100%);
    box-shadow: 0px 20px 30px rgba(3, 111, 245, 0.3);
}
.content__form-text{
    font-size: 12px;
    font-family: 'roboto';
    margin-top: 33px;
    text-align: center;
    width: 851px;
    color: #4E5465;
    opacity: 0.5;
    a{
        cursor: pointer;
    }
} 
    /* .advantages--end*/
    // two__slider-start
    .two__slider{
        margin-top: 400px;
        margin-bottom: 82px;
        position: relative;
    }
    .two__card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .two__slider-title{
        color: #373F4F;
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 75px;
    }
    .two__card-name{
        color: #117BFE;
        font-weight: 500;
        font-size: 18px;
        margin-top: 31px;
        padding-bottom: 11px;
    }
    .two__card-discription{
        color: #373F4F;
        font-size: 14px;
        width: 237px;
    }
    .two__slider .next {
        content: '→';
        position: absolute;
        bottom: 283px;  
        top: -145px;
        left: 1050px; 
    }
    .two__slider .prev {
        position: absolute;
        top: -145px;
        right: 70px;
        left: auto;
    }
    // end__two__slider
    // :start---photo
    .photo__gallery-wrap{
        img{
        margin-right: 5px;   
        }
    }
    .scale {
        transition: 0.5s; /* Время эффекта */
    }
    .scale:hover {
        transform: scale(1.2); /* Увеличиваем масштаб */
    }
    .photo__gallery-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1610px;
    }
  // end---photo
  // offices__start
    .offices{
    margin-top: 120px;
    }
    .offices__title{
        font-size: 50px;
        color: #373F4F;
        text-align: center;
        font-weight: 700;
        padding-top: 100px;
        margin: -120px;
    }
    .card__wrap{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 550px;
        box-shadow: 0px 10px 24px rgba(11, 118, 251, 0.12);
        border-radius: 5px;
        text-align: center;
        margin-left: 15px;
    }
    .offices__card-inner{
        display: flex;
        position: relative;
        top: 230px;
        z-index: 11;
    }
    .card__title{
        font-size: 24px;
        color: #373F4F;
    }
    .card__title-discription{
        font-size: 16px;
        width: 271px;
        color: #373F4F;
        margin: 0 30px;
    }
    .card__nuber{
        font-weight: 700;
        color: #373F4F;
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .card__btn{
        cursor: pointer;
        button{
        width: 194px;
        height: 44px;
        background: none;
        color: #0A75FA;
        border: 2px solid #0A75FA;
        border-radius: 60px;
        }
        a{
            color: #0A75FA;
            text-decoration: none;  
            font-size: 14px;
            font-weight: 700;
        }
        button:hover{
            border:2px solid #01AC56;
            transition: 0,5s;
            a{
                color: #01AC56;
            }
        }
        }           
        .ufa__discription{
            width: 298px;
        }
        .nuber__samara{
            margin-bottom: 20px;
        }
    // offices__end
    // start-form-map
    .form__map{
        flex-wrap: nowrap;
        position: relative;
    }
    .form__wrap{
        width: 1140px;
        height: 290px;
        background-color: #fff;
        position: absolute;
        top: 8335px;
    }
    .contact-form__title{
        font-size: 36px;
        text-align: center;
        padding-top: 25px;
    }
    .contact-form__description{
        display: flex;
        font-size: 18px;
        width:100%;
        margin:14px 0px 27px 50px;
    }
    .form__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        border: radius 5px;
    }
    .button-bottom__description{
        width: 1 ;
        font-size: 12px;
        font-family: 'Roboto';
        margin: 27px 0px 0px 70px;
        color: #4E5465;
        opacity: 0.5;
    }
    .contact__button{
    width: 280px;
    height: 54px;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #147DFF 0%, #036FF5 100%);
    box-shadow: 0px 20px 30px rgba(3, 111, 245, 0.3);
    }
    .contact__button:hover{
        outline: none;
        border: none;
    }
   // end-form-map
  //  start--footer\
.footer{
    background-color:#091128;
    height: 250px;
}
.footer__inner{
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.footer__nav{
    ul{
        display: flex;
        text-align: center;
    }
    a{
        color: #fff;
        margin-right: 30px;
        text-decoration: none;     
    }
    li{
        list-style-type: none;
    }
}
.footer__media{
    display: flex;
}
.footer__media-color{
    background: linear-gradient(180deg, #147DFF 0%, #036FF5 100%);
    box-shadow: 0px 7px 15px rgba(3, 111, 245, 0.3);
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 16px;
}
.footer__suport{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    margin-left: 60px;
}
.footer__content{
    margin-top:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// end--footer
// start-media
@media only screen and (min-width : 320px) and (max-width : 500px){
    .header__inner{
        display: flex;
        flex-direction: column;
    }  
    .header{
        position: relative;
        height: 800px;
        background-color:url(../images/bg.svg);
    }
    .header::before{
        content:url(../images/rightafter.svg);
        position: absolute;
        right: -15%;
        display:none;
    }
    .header::after{
        content:url(../images/topbf.svg);
        position: absolute;
        top: 330px;
        display: none;
    }
    .header__inner{
            padding-top: 30px;
            font-family: 'Gotham Pro';
            font-weight: 500;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    .header__nav{
        flex-direction: column;
        cursor: pointer;
        font-style: normal;
        font-size: 20px;
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            line-height: 23px;
        }
        a{
            text-decoration: none;
            color: #ffffff; 
            padding-right: 30px;
            margin-bottom:25px;
        }
    }
    .header__btn{
        z-index: 11;
        button{
        width: 246px;
        height: 44px;
        appearance: none;
        border: 2px solid #FFFFFF;
        background: none;
        font-size: 14px;
        border-radius: 60px;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 14px;  
            }
        }
    }
    // end--header
    // start--header__content
    .header__content{
        margin-top: 20px;
    }
    .header__content-inner{
        display: flex;
        flex-wrap: wrap;
    }
    .header__content-title{
        h1{
        width: 290px;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        color: #fff;
        margin: 20px;
        line-height: 31px;
        }
    }
    .header__content-text{
        font-size: 16px;
        width: 290px;
        font-family: 'Gotham Pro';
        color: #FFFFFF;
        margin-bottom: 25px;
        text-align: center;
        margin: 15px;
    }
    .header__content-btn{  
        button{
            z-index: 5;
            position: absolute;
            width: 278px;
            height: 44px;
            margin: 15px;
            background: linear-gradient(180deg, #147DFF 0%, #036FF5 100%);
            box-shadow: 0px 20px 30px rgba(3, 111, 245, 0.3);
            border-radius: 30px;
            border: none;
            cursor: pointer;
            a{
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-family: 'Gotham Pro';
            }
        }
    }
    .header__content-right::before{
        content: url(../images/pattern.svg);
        display: none;
    }
    .header__content-right::after{
        content: url(../images/header-bot.svg);
        position: absolute;
        display: none;
    }
    .header__content-right{
        margin: 15px;
        display: none;
        form{ 
            z-index: 10;
            position: relative;
            top: 100px;
            background-color: #FFFFFF;
            width: 290px;
            height: 394px; 
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex-direction:column;
            align-items: center;
        }
    }
    .contact-form__title{
        width: 181px;
        font-family: 'Gotham Pro';
        font-size: 24px !important;
        font-weight: bold;
        line-height: 34px;
        color: #373F4F;
        margin: 0 auto;
    }
    .contact-form__description{
        font-size: 14px !important;
        width: 222px !important;
        font-family: 'Gotham Pro';
        color: #7C90B9;
        margin: 0px 0px 20px 0px;
        padding: 0px;
        text-align: center;
    }
    .contact-form__input_name{
        margin-bottom: 16px;
    }
    .contact-form__input{
        width: 240px;
        height: 54px;
        margin:0px 20px 20px 20px;
        border: 1px solid #D3D9E4;
        box-sizing: border-box;
        border-radius: 30px;
        outline: none;
        margin-right: 27px;
    }
    input{
            padding: 0 23px;
        }
    .contact-form__button{
        width: 240px;
        height: 54px;
        margin-top: -4px;
        background: linear-gradient(180deg, #00CF68 0%, #00A653 100%);
        box-shadow: 0px 20px 30px rgba(0, 166, 83, 0.3);
        border-radius: 30px;
        font-family: 'Gotham Pro';
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        border: none;
    }
    .button-form__description{
        display: none;
    }

// start--services
.services__case{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-right: 30px;
    margin-bottom: 130px;
}
.services__title{
    margin-top: 118px;
    margin-bottom: 70px;
    h2{  
    font-family:'Gotham Pro';
    text-align: center;
    font-size: 30px;
    color: #373F4F;
}
}
.case__card-content{
    display: none !important;
}
.case__card-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
    margin-bottom: 30px;
    width: 360px;
    height: 270px;
    background-color: #fff; 
    background: #FFFFFF;
    box-shadow: 0px 10px 24px rgba(11, 118, 251, 0.12);
    border-radius: 5px;
}
.card__text{
    width: 166px;
    font-family: 'Gotham Pro';
    line-height: 37px;
    text-align: center;
    span{
    font-weight: 500;
    font-size: 24px;
    }
}
.card__text-three{
    width: 195px;
}
.card__text-fife{
    span{display: block;}
    width: 231px;
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    height: 50px;
}
.card__text-six{
    width: 271px;
}
}
// end--services
// end-media
